<div class="container">
  <div class="media">
    <div class="media-left media-top">
      <img src="../../assets/vm.png" class="media-object" style="width:160px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{machine.id}}</h4>
      <p>id: {{machine.id}}</p>
      <p>Name: {{machine.name}}</p>
      <p>Status: {{machine.status}}</p>
      <p>Created: {{printDate(machine.created)}}</p>
      <p>Last updated: {{printDate(machine.updated)}}</p>
    </div>
    <div class="media-body" *ngIf="isFull">
      <p>Uuid: {{printData(machine.uuid)}}</p>
      <p>IPv4: {{printData(machine.accessIPv4)}}</p>
      <p>IPv6: {{printData(machine.accessIPv4)}}</p>
      <p>Tenant id{{printData(machine.tenantId)}}</p>
    </div>
  </div>
  <app-managing-control-buttons [machine]="machine" (onToogle)="onToogle()"></app-managing-control-buttons>
  <div style="text-align: center">
    <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
  </div>
</div>
