<div class="container">
  <form [formGroup]="addServerForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" required
          placeholder="Name: ">
      </div>
    <div class="form-group">
      <label for="imageRef">ImageRef</label>
      <input type="text" class="form-control" id="imageRef" formControlName="imageRef" required
          placeholder="ImageRef: ">
    </div>
    <div class="form-group">
      <label for="flavorRef">FlavorRef</label>
      <input type="text" class="form-control" id="flavorRef" formControlName="flavorRef" required
          placeholder="FlavorRef: ">
    </div>
    <button type="submit" class="btn btn-danger btn-block">Create new server</button>
  </form>
</div>
